<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles-all-category">
    <title>All categories</title>
</head>
<body>
    <%- include('partials/header') %>
    <% if (locals.errors) { %>
            <%- include('partials/errors', {errors: errors}) %>
    <% } %>
    <% if (categories) {%>
        <ul class="category-ul">
        <% for (const category of categories) {%>
            <li class="category-container"><a href="/category/<%=category.id%>"><%=category.name%></a> <a href="category/update/<%=category.id%>">Update</a> <a href="category/delete/<%=category.id%>"><button onclick="return window.confirm(`Are you to delete this category <%= category.name %> ?`)">Delete</button></a></li>
        <%}%>
        </ul>
    <%} else { %>
        no category added yet
    <%} %>
    <form action="/category/create" method="get">Create a new category <button type="submit">Create category</button></form>
    <script src="../controllers/categories-controller.js"></script>
</body>
</html>