<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <% if (locals.errors) { %>
            <%- include('partials/errors', {errors: errors}) %>
    <% } %>
    <% if (categories) {%>
        <ul>
        <% for (const category of categories) {%>
            <li><a href="/category/<%=category.id%>"><%=category.name%></a> <a href="category/update/<%=category.id%>">Update</a> <form action="category/delete/<%=category.id%>" method="post"><button onclick="return window.confirm(`Are you to delete this category <%= category.name %> ?`)" type="submit">Delete</button></form></li>
        <%}%>
        </ul>
    <%} else { %>
        no category added yet
    <%} %>
    <form action="/category/create" method="get">Create a new category <button type="submit">Create category</button></form>
    <script src="../controllers/categories-controller.js"></script>
</body>
</html>