<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <% if (locals.celebrities) { %>
            <% for( const celebrity of celebrities) { %>
                    <div class="celebrity-frame">
                        <ul>
                            <li><a href="/celebrity/<%- celebrity.id %>"><%=celebrity.name%></a></li>
                            <li><%=celebrity.birthdate%></li>
                            <li><%=celebrity.description%></li>
                            <li><%- categories.filter(category => category.id === celebrity.categoryid)[0].name %></li>
                            <%- include('partials/celebrityLink', {celebrity: celebrity}) %>
                        </ul>
                    </div>
            <% } %>
    <% } %>
    <a href="/celebrities/create">Add a celebrity</a>
</body>
</html>