<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles-all-category.css">
    <title>All categories</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <% if (locals.errors) { %>
                <%- include('partials/errors', {errors: errors}) %>
        <% } %>
        <% if (categories) {%>
            <ul class="category-ul">
            <% for (const category of categories) {%>
                <li class="category-container"><a class="name-of-category" href="/category/<%=category.id%>"><%=category.name%></a> <a class="update-category" href="category/update/<%=category.id%>">Update</a> <a class="delete-category" href="category/delete/<%=category.id%>"><button style="background-color: red;" onclick="return window.confirm(`Are you to delete this category <%= category.name %> ?`)">Delete</button></a></li>
            <%}%>
            </ul>
        <%} else { %>
            no category added yet
        <%} %>
        <div class="create-category-container">
            <form action="/category/create" method="get">Create a new category <button type="submit">Create category</button></form>
        </div>
    </main>
    <script src="../controllers/categories-controller.js"></script>
</body>
</html>